
.pro-container {
    display: flex;
    justify-content: space-around;
}

.card{
    margin: 0;
    width: 350px;
    height: 370px;
    background-color: rgb(15, 18, 18);
 
}
.card img{
    height: 300px;
   
}

.card h5,p,ul{
    color: aliceblue;
 
}